!!!
%html

  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}

    %title
      = "#{controller_name.capitalize} #{params[:action].capitalize}"
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  %body{id: "#{controller_name}_#{params[:action]}"}
    = render 'partials/topnav'
    .container-fluid
      .row
        - if notice.present?
          .col-md-12
            .alert.alert-dark#notice{:role => "alert"}
              = notice

        = yield
