!!!
%html

  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}

    %title Rails Note Books
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  %body{id: "#{controller_name}_#{params[:action]}"}
    = yield
